﻿doctype html
html(lang='en')
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/main.css')
    meta(charset="UTF-8")
    meta(name="viewport",content="width=device-width, initial-scale=1, user-scalable=no")
    meta(name="HandheldFriendly",content="True")
    meta(name="MobileOptimized",content="320")
    meta(http-equiv="cleartype",content="on")
  body
    block content